header {
  display: flex;
  padding: 1rem 4rem;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: var(--sidebar);
}

header img {
  height: 3rem;
  width: auto;
}

nav {
  display: flex;
  gap: 4rem;
}

nav a {
  text-decoration: none;
  color: var(--foreground);
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}
